<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="blogs content">
            <h2>about Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenet</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenet</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi teneten</p>
        </div>

        <%- include('./partials/head.ejs') %>
</body>
</html> 